@font-face {
    font-family: 'gomarice';
    src: url('fonds/dissenso.ttf');
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('img/background.jpg');
    background-size: cover;
    font-size: 25px;
    background-repeat: no-repeat;
    font-family: 'gomarice', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 100px;
    letter-spacing: 6px;
    text-shadow: 3px 6px 4px rgba(0, 0, 0, 0.5);
    color: #DD6531;
}

canvas {
    border-radius: 5px;
    border: 2px solid rgb(167,152,148);
    display: block;
}

.headLine {
    font-size: 150px;
    position: absolute;
    top: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.startImage {
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 5px;
}

.gameOver {
    background-image: url('img/9_intro_outro_screens/game_over/you lost.png');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.714);
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    z-index: 3;
}


.yourWin {
    background-image: url('img/win/won_2.png');
    background-color: black;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    z-index: 3;
}

.winBackMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    padding: 10px;
    margin-top: 50%;
}

.backToMenuButton {
    width: 200px;
    height: 46px;
    background: transparent;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    border: none;
    display: flex;
    align-items: center;
    padding: 0;
}

.backManu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.backToMenu {
    margin: 0;
    font-size: 3rem;
    padding: 5px;
    font-family: 'gomarice', Arial, Helvetica, sans-serif;
    color: #DD6531;
    text-align: center; 
    display: flex;
}

.backToMenuButton:hover {
    transform: scale(1.2);
}

.gameInfo {
    background: rgba(0, 0, 0, 85%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    z-index: 4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameInfo div>p {
    color: white;
    margin: 0;
    margin-top: 7px;
    font-size: 1.5rem;
}

.gameInfo i {
    color: white;
    font-size: 2rem;
}

.gameInfo div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin-top: 1rem;
}

.gameInfoMainText {
    font-size: 3rem;
    color: #FFA300;
    text-align: center;
    margin-top: 0;
}

.closeInfo i {
    position: absolute;
    top: 4%;
    left: 92%;
    color: #FFA300;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.closeInfo i:hover {
    transform: scale(1.2);
}

.divCanvas {
    position: absolute;
    display: block;
}

.firstBigImage {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
}

.menuBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
    padding: 20px;
}

.startButton {
    width: 110px;
    height: 55px;
    background: transparent;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    border: none;
    
}

.stB {
    margin: 0;
    font-size: 3rem;
    padding: 5px;
    font-family: 'gomarice', Arial, Helvetica, sans-serif;
    color: #DD6531;
    text-align: center; 
    cursor: pointer;
    display: flex;
}

.infoGame {
    position: absolute;
    
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.startButton:hover {
    transform: scale(1.2);
}

.d-none {
    display: none !important;
}

.fullScreenImage {
    position: absolute;
    top: 6%;
    left: 90%;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.icon-container {
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-right: 15px;
}

h2 {
    display: none;
    color: black;
    text-align: center;
}

.icon-container i:first-of-type {
    font-size: 30px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    padding: 5px;
    color: #DD6531;
}

.icon-container i:nth-of-type(2) {
    font-size: 40px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    padding: 5px;
    color: #DD6531;
}

.icon-container i:last-of-type {
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    padding: 5px;
    color: #DD6531;
}

.icon-container i:hover {
    transform: scale(1.2);
}

.fullscreen {
    width: 100%;
    height: 100%;
}

.mobile-control-panel {
    display: none;
    width: 60%;
    position: absolute;
    bottom: 0px;
    justify-content: space-around;
}

.mobile-control-panel div>i {
    padding: 2px 30px 2px 30px;
    display: block;
    border-radius: 5px;
    background-color: #FFA300;
}

.mobileControl {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobileControlButton {
    margin-right: 10px;
}

@media screen and (max-width: 720px) {
    .divCanvas {
        width: 100%;
    }
    .canvas {
        width: 100%;
    }
    .gameInfo {
        width: 100%;
    }
    .startButton {
        width: 60px;
        height: 54px;
        font-size: 22px;
    }
    .gameOver {
        width: 100%;
    }
}

@media screen and (max-width: 667px) {
    .gameInfo div {
        margin-top: 7px;
    }
}

@media screen and (max-width: 650px) {
    .divCanvas {
        display: none;
    }
    .headline {
        display: none;
    }
    h2 {
        display: block;
    }
}

@media screen and (max-height: 820px) {
    /* .divCanvas {
        height: 100%;
        width: 100%;
        border-radius: 0px;
    } */
    .headline {
        display: none;
    }
    .canvas {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    .startImage {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    .gameInfo {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    .gameOver {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    .imageGameOver {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    .gameInfoMainText {
        margin-bottom: 0px;
    }
    .gameInfo div {
        margin-top: 16px;
    }
    #body {
        display: inherit;
    }
}

@media screen and (max-height: 800px) {
    .gameInfo div {
        margin-top: 27px;
    }
}

@media screen and (max-height: 600px) {
    .gameInfo div {
        margin-top: 70px;
    }
    .mobile-control-panel {
        display: flex;
        width: 76%;
        position: absolute;
        bottom: 0px;
        justify-content: space-around;
    }
    .divCanvas {
        height: 80%;
        width: 80%;
        border-radius: 20px;
    }
    body {
        font-size: 15px;
    }
    .icon-container {
        top: 4%;
        left: 74%;
    }
}

@media screen and (max-height: 540px) {
    .gameInfo div {
        margin-top: 54px;
    }
    .mobile-control-panel {
        display: flex;
        width: 76%;
        position: absolute;
        bottom: 0px;
        justify-content: space-around;
    }
    .divCanvas {
        height: 80%;
        width: 80%;
        border-radius: 20px;
    }
    body {
        font-size: 15px;
    }
    .icon-container {
        top: 4%;
        left: 74%;
    }
}

@media screen and (max-height: 414px) {
    .gameInfo div {
        margin-top: 26px;
    }
    .mobile-control-panel {
        display: flex;
        width: 76%;
        position: absolute;
        bottom: 0px;
        justify-content: space-around;
    }
    .divCanvas {
        height: 80%;
        width: 80%;
        border-radius: 20px;
    }
    body {
        font-size: 15px;
    }
    .icon-container {
        top: 4%;
        left: 74%;
    }
}

@media screen and (max-height: 393px) {
    .gameInfo div {
        margin-top: 15px;
    }
    .mobile-control-panel {
        display: flex;
        width: 76%;
        position: absolute;
        bottom: 0px;
        justify-content: space-around;
    }
    .divCanvas {
        height: 80%;
        width: 80%;
        border-radius: 20px;
    }
    body {
        font-size: 15px;
    }
    .icon-container {
        top: 4%;
        left: 74%;
    }
}

@media screen and (max-height: 390px) {
    .gameInfo div {
        margin-top: 18px;
    }
    .mobile-control-panel {
        display: flex;
        width: 76%;
        position: absolute;
        bottom: 0px;
        justify-content: space-around;
    }
    .divCanvas {
        height: 80%;
        width: 80%;
        border-radius: 20px;
    }
    body {
        font-size: 15px;
    }
    .icon-container {
        top: 4%;
        left: 74%;
    }
}

@media screen and (max-height: 375px) {
    .gameInfo div {
        margin-top: 16px;
    }
    .mobile-control-panel {
        display: flex;
        width: 76%;
        position: absolute;
        bottom: 0px;
        justify-content: space-around;
    }
    .divCanvas {
        height: 80%;
        width: 80%;
        border-radius: 20px;
    }
    body {
        font-size: 15px;
    }
    .icon-container {
        top: 4%;
        left: 74%;
    }
}

@media screen and (max-height: 360px) {
    .gameInfo div {
        margin-top: 14px;
    }
    .mobile-control-panel {
        display: flex;
        width: 76%;
        position: absolute;
        bottom: 0px;
        justify-content: space-around;
    }
    .divCanvas {
        height: 80%;
        width: 80%;
        border-radius: 20px;
    }
    body {
        font-size: 15px;
    }
    .icon-container {
        top: 4%;
        left: 74%;
    }
}

@media screen and (max-height: 280px) {
    .gameInfo div {
        margin-top: -2px;
    }
    .mobile-control-panel {
        display: flex;
        width: 76%;
        position: absolute;
        bottom: 0px;
        justify-content: space-around;
    }
    .divCanvas {
        height: 80%;
        width: 80%;
        border-radius: 20px;
    }
    body {
        font-size: 15px;
    }
    .icon-container {
        top: 4%;
        left: 74%;
    }
}


